:root {
    --card-width: 60vw;
    --card-aspect: 0.5625;
}

.container {
    width: 100vw;
    height: var(--app-height);
    background-color: cornflowerblue;
}

.visualizer {
    visibility: hidden;
}

.permissions-overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: var(--app-height);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15vh;
}

.permissions-overlay button {
    margin: 20px;
    object-fit: cover;
    overflow: hidden;
}

.permissions-overlay button.transparent {
    opacity: 0.33;
}

.permissions-overlay .button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.permissions-overlay .button-content .button-icon {
    font-size: 50px;
}

.permissions-overlay .button-content .button-text {
    font-size: 15px;
}

.capture-overlay {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: var(--app-height);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    margin-top: 15vh;
}

.capture-overlay .hole {
    width: var(--card-width);
    height: calc(var(--card-width) * var(--card-aspect));
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    border-radius: calc(0.03 * var(--card-width))
}

/* Mobile Phones Only */
@media only screen and (max-device-width: 480px) {
    :root {
        --card-width: 90vw;
    }
}